.st-buttons-container {
    display: inline-block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 75px;
}


/*
    this will have sub windows that override the current values
    not absolutely sure where I shall keep the windows
    polls and playlist can go over the chat due to their nature
    and header/footer can go over the video because they are transparent
    
    or

    every window will be on top of video (transparency)
*/

.st-window-open {
    background-color: rgba(0, 0, 0, 0.6);
    width: 70%;
    height: calc(100% - 75px);
    justify-content: center;
    align-items: center;
    z-index: 3;
    display: flex !important;
    top: 0px;
    left: 0px;
    position: fixed;
}

.st-window-default {
    display: none;
}

.st-window-open .floatinner {
    pointer-events: auto;
    max-height: calc(100% - 100px);
    max-width: calc(100% - 100px);
    overflow: auto;
    position: relative;
}

.st-button {
    height: inherit;
    width: 125px;
    z-index: 3;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    font-size: 12px;
    background-image: url(https://smidqe.github.io/images/button-about.png);
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes btn-change {
    0% {
        background-color: black;
    }
    100% {
        background-color: red;
    }
}

#chatpane.st-chat {
    right: 0px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 30%;
}


/* to eliminate too large gap between elements in the header */

.wrapper #dyn_header iframe {
    height: auto;
}

#chatpane.st-chat #chatbuffer {
    height: calc(100% - 52px) !important;
    width: 100%;
}

#chatpane.st-chat #connectedCountWrapper {
    display: none;
}


/* the button that's on the messagebox */

#mailboxDiv div:nth-child(2) {
    position: absolute;
    /* text-align: right; */
    bottom: 0px;
    right: 0px;
}


/*Not a registered user*/

#chatpane.st-chat #chatinput:not(.right) input {
    text-align: left;
    padding-left: 2px;
}

#chatpane.st-chat #chatinput:not(.right) {
    width: 100%;
    left: 0px;
}

#chatpane.st-chat #chatinput {
    width: calc(100% - 130px);
    right: 0px;
    left: auto;
}

.st-logged {
    width: 100%;
}

#chatpane.st-chat #chatlist {
    display: none;
}

#chatpane.st-chat .setNick {
    bottom: 0px;
    top: auto !important;
}

.st-video {
    width: calc(70%) !important;
    position: fixed;
    top: 0px;
    left: 0px;
    height: calc(100% - 75px) !important;
}

.st-button:hover {
    background-color: aliceblue;
}

.st-button-change {
    animation-name: btn-change;
    animation-duration: 5s;
}

.st-element-hidden {
    display: hidden;
}

.st-window-open #footwrap {
    max-width: 690px;
}