.st-buttons-container {
    display: inline-flex;
    bottom: 0px;
    left: 0px;
    height: 75px;
    width: 80%;
    float: left;
}

.st-controls-wrap {
    width: 70%;
    bottom: 0px;
    position: absolute;
    display: inline-flex;
}

.st-control-border {
    background-color: #222222;
    color: #BBBBBB;
    border: 1px solid #474747;
}

#st-container-info {
    width: 20%;
    /* Two pixels for the border */
    height: 73px;
    float: left;
    display: grid;
    border: 1px solid #474747;
    background-color: #222222;
}

#st-info-drinks-group {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr;
}

.st-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.st-grid-block {
    text-align: center;
    vertical-align: middle;
    /*This will change eventually*/
    line-height: 35.5px;
    border: 1px solid #474747;
}

.st-window-open {
    background-color: rgba(0, 0, 0, 0.6);
    width: 70%;
    height: calc(100% - 75px);
    justify-content: center;
    align-items: center;
    z-index: 3;
    display: flex !important;
    top: 0px;
    left: 0px;
    position: fixed;
}

.st-window-default {
    display: none;
}

#headwrap.st-window-open .floatinner .wrapper {
    background: none;
}

#st-wrap-header {
    display: block !important;
}

#st-wrap-footer #dyn_footer {
    max-height: calc(100% - 75px);
    overflow: auto;
}

.st-window-open .floatinner {
    pointer-events: auto;
    max-height: calc(100% - 100px);
    max-width: calc(100% - 100px);
    overflow: auto;
    position: relative;
}

#drinkWrap {
    display: none !important;
}

.st-button {
    height: inherit;
    width: 100px;
    z-index: 3;
    text-align: center;
    text-decoration: none;
    align-items: center;
    display: inline-block;
    font-size: 12px;
    text-transform: capitalize;
    background-color: #222222;
    color: #BBBBBB;
    border: 1px solid #474747;
}

.st-button-change {
    display: none;
}

button.st-button:hover {
    background-color: #474747;
}

button.st-button:first-letter {
    text-transform: capitalize;
}

#chatpane.st-chat {
    right: 0px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 30%;
}


/* to eliminate too large gap between elements in the header */

.wrapper #dyn_header iframe {
    height: auto !important;
}

#chatpane.st-chat #chatbuffer {
    height: calc(100% - 52px) !important;
    width: 100%;
}

#chatpane.st-chat #connectedCountWrapper {
    display: none;
}

.poll {
    margin: auto !important;
    position: relative;
}

.poll:not(.active) {
    opacity: 0.75;
}

#pollpane.st-window-open {
    display: inline !important;
}

#pollbox.st-window-open {
    display: inline !important;
}


/*Not a registered user*/

#chatpane.st-chat #chatinput:not(.right) input {
    text-align: left;
    padding-left: 2px;
}

#chatpane.st-chat #chatinput:not(.right) {
    width: 100%;
    left: 0px;
}

#chatpane.st-chat #chatinput {
    width: calc(100% - 130px);
    right: 0px;
    left: auto;
}

.st-logged {
    width: 100%;
}

#chatpane.st-chat #chatlist {
    display: none;
}

#chatpane.st-chat .setNick {
    bottom: 0px;
    top: auto !important;
}

.st-video {
    width: calc(70%) !important;
    position: fixed !important;
    top: 0px;
    left: 0px;
    height: calc(100% - 75px) !important;
}

#videowrap #ytapiplayer iframe {
    width: 100%;
    height: 100%;
}

.st-button:hover {
    background-color: aliceblue;
}

.st-element-hidden {
    display: hidden !important;
}

.st-window-open #footwrap {
    max-width: 690px;
}

.st-window-overlap {
    right: 0px;
    top: 0px;
    left: auto;
    position: fixed;
    height: 100% !important;
    width: 30% !important;
}

.st-window-polls #pollpane {
    width: 100%;
    height: 100%;
    background-color: #444;
}

.st-window-polls #pollpane .poll {
    width: 100%;
}

body #leftpane {
    height: 100% !important;
}

#playlist {
    width: 100% !important;
    height: inherit !important;
}

#chatControls {
    width: calc(100% - 5px);
}

#mailButtonDiv {
    display: none !important;
}

#chevronButtonDiv {
    display: none;
}

.st-window-users {
    width: 35% !important;
    height: calc(100% - 50px) !important;
    right: inherit !important;
    left: auto;
    /* top: 20px; */
    /* z-index: inherit; */
    overflow: scroll;
    overflow-x: hidden;
    /* position: fixed !important; */
    box-sizing: border-box;
    border-bottom: 1px solid #BBBBBB !important;
}

.st-window-users ul {
    top: 0px;
    right: 0px;
    position: absolute;
    width: 100%;
}

.ponypen_btns {
    top: 0px;
}

#mailboxDiv.st-window-open {
    display: inline-block !important;
    overflow-y: auto;
    padding: 0px;
}

#mailboxDiv .btn {
    right: 0px;
    top: 0px;
    position: absolute;
}


/*BerryTweaks patches*/

#st-videotitle-window {
    background-color: #474747;
    height: auto;
    width: 100%;
    position: absolute;
    border: 1px solid rgb(187, 187, 187);
    left: 0px;
    z-index: 5;
}


/*Text wrap location on the chatcontrols area*/

#st-wrap-videotitle {
    float: left;
    width: auto;
}


/*Video title position*/

#berrytweaks-video_title {
    float: none;
    text-align: center;
}