/*putting all pane sizing logic so that we can easily manipulate this directly*/


/*benefit being that the entire style will be togglable on and off, without   */


/*manually removing affected style attributes of individual elements.*/


/*that's the hope anyway*/

body.tweaked.plshown #leftpane {
    width: 20%;
    /*the actual width*/
}

body.tweaked.pollshown #pollbox {
    width: 20%;
    /*the actual width*/
}

body.tweaked.plshown #chatpane,
body.tweaked.plshown.vidshown #videowrap,
body.tweaked.vidshown.plshown.drinkshown #drinkCounter {
    left: 20%;
    /*the width of leftpane*/
}

body.tweaked.plshown #chatpane,
body.tweaked.plshown.vidshown #videowrap {
    width: 80%;
    /*complement of leftpane*/
}

body.tweaked.pollshown #chatpane,
body.tweaked.pollshown.vidshown #videowrap {
    width: 80%;
    /*complement of pollbox*/
}

body.tweaked.plshown.pollshown #chatpane,
body.tweaked.plshown.pollshown.vidshown #videowrap {
    width: 60%;
    /*complement of pollbox+leftpane*/
}

body.tweaked.vidshown #chatpane {
    height: 45%;
    /*actual height*/
}

body.tweaked.vidshown #videowrap {
    height: 55%;
    /*complement of chatpane height*/
}

html body div#playlist ul#plul li.active {
    background-image: url(http://radio.berrytube.tv/plugins/MalTweaks/fadebar.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right;
    transition-property: none;
    transition-duration: 10s;
    transition-timing-function: linear;
}


/*and now the rest*/

body.tweaked.headershown #headwrap,
body.tweaked.footershown #footwrap,
body.tweaked.motdshown #motdwrap {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    position: fixed;
    display: flex;
    /*width:calc(100% - 100px);*/
    height: 100%;
    width: 100%;
    /*max-height:calc(100% - 100px);*/
    margin: auto;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

body.tweaked.headershown #headwrap .wrapper {
    width: auto;
}

body.tweaked.headershown,
body.tweaked.footershown {
    transition-property: none;
}


/*oh god these are a mess but it works. meh*/

body.tweaked.headershown .floatinner,
body.tweaked.footershown .floatinner,
body.tweaked.motdshown .floatinner {
    pointer-events: auto;
    max-height: calc(100% - 100px);
    max-width: calc(100% - 100px);
    overflow: auto;
    position: relative;
    border-radius: 15px;
    border: 5px solid black;
}

body.tweaked.motdshown .floatinner #dyn_motd {
    border-radius: 10px;
}

body.tweaked.motdshown #motdwrap .floatinner {
    max-width: 690px;
    width: calc(100% - 100px);
    text-align: left;
}

#headerview {
    margin-left: 10px;
}

body.tweaked:not(.headershown) #headwrap {
    height: 0px;
    overflow: hidden;
}

body.tweaked:not(.footershown) #footwrap,
body.tweaked:not(.motdshown) #motdwrap {
    display: none;
}

body.tweaked #chatpane {
    resize: both;
    overflow: hidden;
}

body.tweaked #chatpane>* {
    resize: none;
}


/*admin tabs: 20px;
controls: 20px
input:30px;
*/

body.tweaked #chatpane .chatbuffer:not(.wide),
body.tweaked #chatpane #chatinput:not(.wide),
body.tweaked #chatpane #chatControls,
body.tweaked #chatpane #chattabs:not(.wide),
body.tweaked #chatpane #rcvOverlay:not(.wide) {
    width: calc(100% - 209px);
}

body.tweaked #chatlist,
body.tweaked #connectedCountWrapper {
    width: 210px;
}

body.tweaked #chatpane .chatbuffer {
    height: calc(100% - 52px);
}

body.tweaked.admin #chatpane .chatbuffer,
body.tweaked.mod #chatpane .chatbuffer,
body.tweaked.assistant #chatpane .chatbuffer {
    height: calc(100% - 72px);
}

body.tweaked #chatpane #chatlist {
    height: calc(100% - 30px);
}

body.tweaked #chatpane #chatlist {
    box-sizing: border-box;
    height: calc(100% - 20px);
}

body.tweaked #chatpane #chatinput {
    box-sizing: border-box;
    border-right: 1px solid black;
}

body.tweaked:not(.headershown):not(.footershown) {
    overflow: hidden;
    background: black none;
}

body.tweaked #videobg {
    background: black none;
}


/*body.tweaked #banner,body.tweaked .dynarea{
    display:none;
}*/

body.tweaked:not(.toastshown) #toastThemesContainer {
    display: none;
}

body.tweaked #chatpane {
    box-sizing: border-box;
    position: fixed !important;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
}

body.tweaked #chatpane .setNick {
    top: inherit;
    bottom: 0;
}

body.tweaked #videowrap {
    background-color: black;
}

body.tweaked.vidshown #videowrap {
    box-sizing: border-box;
    left: 0px;
    width: 100%;
}

body.tweaked.plshown #leftpane {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    height: 100% !important;
}


/*because I'm hacckyyyy!*/

body.tweaked:not(.plshown) #leftpane {
    width: 0px !important;
    border: none !important;
}

body.tweaked:not(.plshown) #leftpane>*:not(#videowrap),
body.tweaked.plshown:not(.vidshown) #videowrap {
    display: none !important;
}

body.tweaked.plshown #leftpane #playlist {
    width: 100% !important;
    height: 100% !important;
}


/*body.tweaked.plshown #leftpane #playlistAddControls[style*=block] ~ #playlist{*/


/*height:calc(100% - 150px);*/


/*}*/

html body.tweaked #playlist {
    overflow: hidden;
    resize: both;
}

body.tweaked #pollControl .mainbtns,
body.tweaked #pollControl {
    min-height: 40px;
}

body.tweaked.berry.pollshown #pollbox #pollpane,
body.tweaked.admin.pollshown #pollbox #pollpane,
body.tweaked.mod.pollshown #pollbox #pollpane,
body.tweaked.assistant.pollshown #pollbox #pollpane {
    height: calc(100% - 40px);
}

body.tweaked.pollshown #pollbox .mainbtns {
    width: 100%
}

body.tweaked.pollshown #pollbox #pollpane .poll {
    margin: 0;
    border-top: 3px solid;
    border-style: solid none none none;
    padding: 10px;
}

body.tweaked.pollshown #pollbox #pollpane .poll li:not(:last-child) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

body.tweaked.pollshown #pollbox #pollpane .poll .label .berrymote {
    vertical-align: middle
}

body.tweaked.pollshown #pollbox #pollpane {
    height: 100%;
}

body.tweaked:not(.pollshown) #pollbox {
    display: none;
}

body.tweaked.pollshown #pollbox #pollControl .options table tr td:nth-child(2) {
    width: 99%;
}

body.tweaked.pollshown #pollbox #pollControl input[type=checkbox]:after {
    content: "Obscure";
}

body.tweaked.pollshown #pollbox #pollControl .optionWrap {
    width: 100%;
}

body.tweaked.pollshown #pollbox {
    overflow-y: auto;
    background-color: #444;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 10;
}

body.tweaked.vidshown #videowrap {
    position: fixed !important;
    margin: 0;
    top: 0;
    z-index: 11;
}

body.tweaked.vidshown.drinkshown .dpmCounter {
    font-size: 20px !important;
    display: block;
    position: fixed;
    top: 0;
    left: 45%;
    border-radius: 0px 0px 20px 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 2px #000000;
    color: white;
    clear: both;
    text-align: center;
    z-index: 13;
}

body.tweaked #drinkWrap {
    background-color: transparent;
    background-image: none;
    font-size: 0;
}

body.tweaked.vidshown.drinkshown #drinkCounter {
    font-size: 40px;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0px 0px 1000px 0px;
    padding: 1em 18px 10px 5px;
    background-color: rgba(0, 0, 0, 0.2);
    text-shadow: 2px 2px 4px #000000;
    color: white;
    clear: both;
    text-align: left;
    min-width: 3em;
    z-index: 13;
}

body.tweaked.vidshown.drinkshown #drinkCounter:before {
    content: "Drinks:";
    clear: both;
    float: left;
    display: block;
    margin-top: -1em;
    position: absolute;
}

body.tweaked.vidshown #chatpane {
    z-index: 12;
    bottom: 0px;
}

body.tweaked #videowrap iframe,
body.tweaked #videowrap object,
body.tweaked #videowrap embed {
    width: 100%;
    height: 100%;
}

body.tweaked.vidshown #chatpane {
    cursor: row-resize;
}

body.tweaked.plshown #leftpane,
body.tweaked.pollshown #pollbox {
    cursor: col-resize;
}

body.tweaked.vidshown #chatpane,
body.tweaked.pollshown #pollbox,
body.tweaked.plshown #leftpane {
    box-sizing: border-box;
    border-width: 5px;
    /*border-color: #BBB;*/
    border-color: #DC96E4;
    border-style: none;
}

body.tweaked.vidshown #chatpane {
    border-top-style: groove;
}

body.tweaked.pollshown #pollbox {
    border-left-style: groove;
}

body.tweaked.plshown #leftpane {
    border-right-style: groove;
}

body.tweaked.vidshown #chatpane>*,
body.tweaked.plshown #leftpane>*,
body.tweaked.pollshown #pollbox>* {
    cursor: auto;
}


/*we turn this on while drag resizing stuff*/

body.nosel #videowrap {
    pointer-events: none !important;
}

body.nosel {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}

body.tweaked {
    overflow: hidden;
}

body.tweaked #playlist ul li {
    /*when the playlist is small, Extremely.Long.Titles.S05E02.That.Arent.Torrents.Wont.Wrap.avi won't break*/
    word-wrap: break-word;
}

body.tweaked #chatinput input {
    padding-left: 2px;
    /*tired of the input cursor being rightnextotheleftside*/
}

#tweakbutts {
    float: left;
}

.tweakbutt {
    padding-right: 2px;
    margin-top: 2px;
    cursor: pointer;
    float: left;
}

.fa-lg.tweakbutt {
    font-size: 18px;
    line-height: 18px;
}

.tweakbutt:hover {
    opacity: 1.0;
}

body:not(.tweaked) #tweak {
    opacity: 0.4;
}

body:not(.tweaked) .tweakbutt:not(#tweak):not(#extrasettings) {
    display: none;
}

body:not(.plshown) #pltoggle {
    opacity: 0.3;
}

body:not(.pollshown) #polltoggle:not(.pollpulse) {
    opacity: 0.3;
}

body:not(.vidshown):not(.popped) #drinktoggle {
    display: none;
}

body:not(.drinkshown) #drinktoggle {
    opacity: 0.3;
}

body:not(.vidshown) #vidtoggle {
    opacity: 0.3;
}

body #toasttoggle {
    display: none;
}

body.tweaked.hastoast #toasttoggle {
    display: inline-block;
}

body:not(.toastshown) #toasttoggle {
    opacity: 0.3;
}

body.tweaked.pollshown #pollbox #pollControl input[type=checkbox] {
    position: relative;
    top: -5px
}


/*A label goes a long way towards keeping people from forgetting*/

body.tweaked.pollshown #pollbox #pollControl input[type=checkbox]:after {
    position: absolute;
    margin-top: 10px;
    content: "obscure"
}

body.tweaked.pollshown #pollpane:empty:after {
    content: "No Polls Right Now";
    text-align: center;
    width: 100%;
    font-size: 20pt;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0.5;
}

body.tweaked.vidshown #videowrap #scBackground {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    background-size: auto calc(100% - 170px);
    background-position: center top;
}

body.tweaked.vidshown #videowrap iframe#scPlayer {
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    height: 170px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    border: 0px none;
}

body.tweaked.vidshown #videowrap #scVolumeSliderWrap {
    height: 170px;
    box-sizing: border-box;
    width: 40px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    background-color: #F5F5F5;
}

body.tweaked #headbar {
    display: none;
}

body.tweaked.vidshown #videowrap #scVolumeSlider {
    height: 140px;
    width: 10px;
    margin: 15px;
}


/*sizing for playlist, borrowed from PEP*/

body.admin #playlist ul li div.title,
body.assistant #playlist ul li div.title,
body.berry #playlist ul li div.title {
    width: -webkit-calc(100% - 110px);
    width: -moz-calc(100% - 110px);
    width: calc(100% - 110px);
}

#playlist ul li div.title {
    width: -webkit-calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: calc(100% - 90px);
}

#playlist ul li div.colorTag[style*=block]~div.title {
    width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
}

#playlist #plstats .totalLength {
    float: right;
    position: static;
}

#plstats {
    padding: 3px;
}

#playlist {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    overflow-y: hidden;
    width: auto !important;
    resize: vertical;
    padding-bottom: 0px;
    position: relative;
    min-height: 377px
}

#playlist * {
    resize: none;
}

#plstats {
    position: absolute;
    bottom: 0px;
    padding: 0px 10px 0px 3px;
    width: -moz-calc(100% - 15px) !important;
    width: -o-calc(100% - 15px) !important;
    width: -webkit-calc(100% - 15px) !important;
    width: calc(100% - 15px) !important;
}

#plstats {
    pointer-events: none;
}

#plstats * {
    pointer-events: auto;
}

#searchbox {
    pointer-events: none
}

#searchbox * {
    pointer-events: auto;
}

#plstats .totalVideos {
    position: static;
    float: left;
}

#searchbox {
    background: inherit !important;
    position: absolute;
    width: 100%;
    bottom: 1.3em;
}

#playlist .viewport {
    min-height: 350px;
    width: -moz-calc(100% - 16px) !important;
    width: -o-calc(100% - 16px) !important;
    width: -webkit-calc(100% - 16px) !important;
    width: calc(100% - 16px) !important;
    height: -moz-calc(100% - 27px) !important;
    height: -o-calc(100% - 27px) !important;
    height: -webkit-calc(100% - 27px) !important;
    height: calc(100% - 27px) !important;
}

#playlist .viewport .overview,
#playlist .viewport .overview ul {
    width: 100%;
}

#searchbox {
    background-color: none
}

body #playlist .scrollbar {
    height: -moz-calc(100% - 27px) !important;
    height: -o-calc(100% - 27px) !important;
    height: -webkit-calc(100% - 27px) !important;
    height: calc(100% - 27px) !important;
    position: absolute !important;
    right: 0px !important;
    top: 0px !important;
    float: none !important;
}

body #playlist .track {
    float: none !important;
}

body #leftpane {
    height: auto !important;
    min-height: 0 !important;
}

#playlist .viewport .overview {
    padding-bottom: 20px
}

.mtclose {
    display: none;
}

body.tweaked .mtclose {
    display: block;
    width: 0;
    height: 0;
    overflow: visible;
    position: relative;
}

body.tweaked .mtclose i.fa {
    position: relative;
    right: 1px;
    font-size: 30px;
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    width: 30px;
    pointer-events: auto;
}

body.tweaked #main+.wrapper {
    display: none;
    /* should hide the selecting thing at the bottom maybe*/
}

.blacklistwrap {
    background-color: rgba(0, 0, 0, 0.8);
}

i.fa.tweakbutt.greenpulse {
    text-shadow: 0 0 0px #00ff00;
    animation-duration: 1s;
    animation-name: greenpulse;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: greenpulse;
    -webkit-animation-iteration-count: infinite;
}

body:not(.pollshown) #polltoggle.pollpulse {
    text-shadow: 0 0 0px #00ff00;
    animation-duration: 1s;
    animation-name: pollpulse;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: pollpulse;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pollpulse {
    from {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 0.3;
    }
    10% {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 0.3;
    }
    50% {
        color: #00ff00;
        text-shadow: 0 0 16px #00ff00;
        opacity: 1.0;
    }
    90% {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 0.3;
    }
    to {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 0.3;
    }
}

@-webkit-keyframes pollpulse {
    from {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 0.3;
    }
    10% {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 0.3;
    }
    50% {
        color: #00ff00;
        text-shadow: 0 0 16px #00ff00;
        opacity: 1.0;
    }
    90% {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 0.3;
    }
    to {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 0.3;
    }
}

@keyframes greenpulse {
    from {
        color: default;
        text-shadow: 0 0 0px #00ff00;
    }
    10% {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 1.0;
    }
    50% {
        color: #00ff00;
        text-shadow: 0 0 16px #00ff00;
        opacity: 1.0;
    }
    90% {
        color: default;
        text-shadow: 0 0 0px #00ff00;
        opacity: 1.0;
    }
    to {
        color: default;
        text-shadow: 0 0 0px #00ff00;
    }
}

@-webkit-keyframes greenpulse {
    from {
        color: default;
        text-shadow: 0 0 0px #00ff00;
    }
    10% {
        color: default;
        text-shadow: 0 0 0px #00ff00;
    }
    50% {
        color: #00ff00;
        text-shadow: 0 0 16px #00ff00;
    }
    90% {
        color: default;
        text-shadow: 0 0 0px #00ff00;
    }
    to {
        color: default;
        text-shadow: 0 0 0px #00ff00;
    }
}

#playlist {
    transition: background-color 1s linears;
}

#playlist .scrollbar,
#playlist .scrollbar * {
    transition: background-color .5s, border-color 1s linear 1s, color 1s linear 1s;
}

#playlist ul:not(:hover) li {
    transition: background-color 1s, border-color .5s linear 1s, color 1s linear 1s, background-size 10s;
}

#chatpane:not(:hover) .chatbuffer,
#chatpane,
#chatinput input,
#chatControls,
#connectedCountWrapper,
#chatlist,
.dynarea {
    transition: background-color 0.7s linear 1s, border-color 1s linear 3s, color 1s linear 3s;
}

body {
    transition: background-color 5s;
}

#chatpane,
#pollbox,
#leftpane,
#pollbox {
    transition: background-color 1s linear 4s, border-color 1s linear 5s;
}

#pollpane .poll {
    transition: background-color 1s linear, border-color 1s linear .5s, color 1s linear 1s, opacity .7s;
}

.mtoption {
    display: block;
    width: 100%;
}

.mtoption:not(:last-child) {
    padding-bottom: 3px;
    border-bottom: 1px solid;
}

.mtoption:not(:first-child) {
    padding-top: 3px;
}

.mtoption input[type=checkbox] {
    float: right;
}

.mtoption .fine {
    font-size: 66%;
}

.mtradios {
    text-align: center;
    font-size: 74%;
}

.mtradios label {
    display: inline-block;
}

.mtradios label:not(:first-child) {
    margin-left: 5px;
}

#ytapiplayer>.scback {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

#ytapiplayer>.scback>audio {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#ytapiplayer>.scback>.sctitle {
    z-index: 1;
    font-size: 24px;
    color: white;
    font-family: sans;
    text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
    text-align: center;
    position: absolute;
    top: 10px;
    left: 10px;
    max-width: calc(100% - 20px);
}

#ytapiplayer video {
    background-color: rgba(0, 0, 0, 0.9);
}