.berrytweaks-module-category {
    display: block;
    font-weight: bold;
}

.berrytweaks-module-category:not(:first-of-type) {
    margin-top: 0.5em;
}

.berrytweaks-module-settings {
    margin-left: 1em;
    font-size: 80%;
}
