/* For the minimalistic css used before the main one is included */
.st-settings-group>label {
    font-weight: bold;
}

.st-setting-sub {
    font-size: 14px;
    margin-left: 2em;
}

#st-toolbar-element-time {
    float: right;
}

#st-toolbar-element-layout {
    float: left;
}

.st-window-hidden {
    display: none !important;
}
